<template>
  <div id="app">
    <!-- https://cdn.filestackcontent.com/wcrjf9qPTCKXV3hMXDwK -->
    <!--  "https://firebasestorage.googleapis.com/v0/b/novel-c4414.appspot.com/o/pdf%2F1984.pdf?alt=media&token=ca4900a8-46c9-474c-9b10-cb2f9497f047" -->
    <h2 class="heading">View PDF</h2>
    <div class="pdfvue">
      <pdf :src="pdfFile" :page="1"></pdf>
    </div>
  </div>
</template>

<script>
import pdf from "vue-pdf";
import { fb } from "./firebase";

export default {
  name: "App",
  components: {
    pdf
  },
  data() {
    return {
      pdfFile: null
    };
  },

  created() {
    var storageRef = fb.storage();

    var forestRef = storageRef.ref("pdf/1984.pdf");

    // forestRef.getMetadata().then(function(metadata) {
    //   console.log(metadata.name);
    // });

    forestRef.getDownloadURL().then(downloadURL => {
      console.log("File available at", downloadURL);
      this.pdfFile = downloadURL;
    });
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.pdfvue {
  direction: ltr;
  width: 816px;
  height: 1056px;
  margin: 1px auto -8px auto;
  position: relative;
  overflow: visible;
  border: 9px solid transparent;
  background-clip: content-box;
  background-color: rgba(255, 255, 255, 1);
}

.heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  text-align: center;
}
</style>
